<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.springboot.fiveteam.domain.sales.SalesRepository">
	<insert id="save" parameterType="com.springboot.fiveteam.domain.sales.Sales">
		insert into
			table_sales
		values(
			0,
			#{category},
			#{sales_title},
			#{sales_price},
			#{sales_content},
			#{salesImg},
			#{sales_size},
			#{sales_color},
			now(),
			now()
		);
	</insert>
	
	<update id="productUpdate" parameterType="com.springboot.fiveteam.domain.sales.Sales">
		update
			table_sales
		set
			sales_title = #{sales_title},
			sales_price = #{sales_price},
			sales_content = #{sales_content},
			salesImg = #{salesImg},
			sales_size = #{sales_size},
			sales_color = #{sales_color},
			update_date = now()
		where
			sales_id = #{sales_id};
			
	</update>
	
	<select id="findById" parameterType="com.springboot.fiveteam.domain.sales.Sales" resultType="com.springboot.fiveteam.domain.sales.Sales">
		select
			*
		from
			table_sales
		where
			sales_id = #{sales_id};
	</select>
	<select id="findAll" resultType="com.springboot.fiveteam.domain.sales.Sales">
		select
			*
		from
			table_sales;
	</select>
	<!-- 
	<select id="findAlls" parameterType="com.springboot.fiveteam.domain.sales.Sales" resultType="com.springboot.fiveteam.domain.sales.Sales">
		select
			*
		from
			table_sales;
	</select> -->
	<delete id="deleteById" parameterType="Integer">
		delete
		from table_sales
		where sales_id = #{sales_id};
	</delete>
	
	<!-- 상품들 조회 -->
	<select id="getSalesList" resultType="com.springboot.fiveteam.domain.sales.Sales">
		select
			*
		from
			table_sales
		where
			category = #{category};
	</select>
	
	<!-- 검색하여 상품들 조회 -->
	<select id="getSalesListSearch" resultType="com.springboot.fiveteam.domain.sales.Sales">
		select
			*
		from
			table_sales
		where
			category = #{category} and sales_title like '%${sales_title}%';
	</select>
	
	<!-- 한 상품 상세조회 -->
	<select id="getSalesOne" resultType="com.springboot.fiveteam.domain.sales.Sales">
		select
			*
		from
			table_sales
		where
			sales_id = #{sales_id};
	</select>
	
	<select id="selectGoodsAtt" resultType="com.springboot.fiveteam.domain.sales.Sales"> 
		<![CDATA[
			select
               	group_concat(sales_color ORDER BY sales_color DESC SEPARATOR ',') as sales_color,
               	group_concat(sales_size ORDER BY sales_size DESC SEPARATOR ',') as sales_size
			from
				table_sales
			where
	           	sales_id = #{sales_id};	
		]]>
	</select>
</mapper>