hr {
  border: 0;
  height: 2px;
  background: #ccc;
}

.title {
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px;
  text-align: center;
  font-weight: 200;
}
.title_quantity {
  margin: 0px 10px 0px;
}

.middlespace {
  display: flex;
  justify-content: center;
}

.middlespace_left {
  margin: 20px;
  width: 750px;
  height: 100%;
}

.middlespace_left_content,
.middlespace_left_content_west,
.middlespace_left_content_east {
  align-items: center;
  display: flex;
}

.middlespace_left_content {
  justify-content: space-between;
  font-weight: 200;
  margin: 20px 0px;
}

.middlespace_left_checkbox {
  margin: 0px 10px 0px;
}

.middlespace_left_photo {
  margin-right: 15px;
}

.middlespace_left_info_option {
  margin: 5px 0px 8px;
}
.middlespace_left_info_optionmodify {
  margin: 0px 10px 0px;
  text-decoration: underline;
}

.middlespace_left_info_option,
.middlespace_left_info_quantitybutton {
  display: flex;
}

.quantity_button_number,
.quantity_button_plus,
.quantity_button_minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid black;
  text-align: center;
}

.quantity_button_number {
  font-size: 14px;
}
.quantity_button_minus {
  font-size: 18px;
}
.quantity_button_plus {
  font-size: 18px;
}

.middlespace_left_deletebutton {
  margin: 0px 10px 0px;
  text-decoration: underline;
}

.middlespace_right {
  margin: 20px;
  width: 550px;
  height: 100%;
}

.middlespace_right_buttons {
  margin: 20px 0px 50px;
}

.salesprice,
.deliveryprice,
.totalprice {
  display: flex;
  justify-content: space-between;
  margin: 8px 0px 8px;
  font-weight: 200;
}

.button_allclear,
.button_specificclear {
  border: 1px solid black;
  text-align: center;
  padding: 8px 0px 8px;
  margin: 15px 0px 15px;
  font-weight: 200;
}

.button_specificorder,
.button_allorder {
  border: 1px solid black;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px 0px 8px;
  margin: 15px 0px 15px;
  font-weight: 200;
}

.info {
  margin: 8px 0px 8px;
  font-weight: 200;
}

.middlespace_left_info_optionmodify:hover,
.quantity_button_minus:hover,
.quantity_button_plus:hover,
.middlespace_left_deletebutton:hover,
.button_allclear:hover,
.button_specificclear:hover,
.button_specificorder:hover,
.button_allorder:hover {
  cursor: pointer;
}
