main{
    display: flex;
    flex-direction: column;
}
.category{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 20px;
}
.card{
    border: 0px solid !important;
}
.card-title {
    margin-bottom: 0px !important;
}

.card-body {
    padding: 3px !important;
}
